* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}
.bg-dark {
  background-color: #154d11 !important;
}
.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: green;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.redisplay{
  display: flex;
  align-content: center;
  background-color: gold;
  width: 230px;
  transition: all 0.5s ease;
}


.acc >form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.log{
 
  z-index: 10px;
  color: red;
  font-size: 19px;
  margin-top: -22px;
  padding-left: 1270px;
  position: relative;
  
  
  
}



div[rel='log']{
  color: green;
  font-size: 30px;
  margin-top: -154px;
  margin-left: 20px;
  
  
}

div button{
  z-index: 10px;
 
  margin-top: 90px;
  position: relative;
  margin-left: 240px;
  color: red;
  width: 140px
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: green;
  border: none;
  border-radius: 5px;
}


.buy{
  margin-top: 0px;
}

.root-h{
  display: flex;
  margin:10px 10px;
  flex-direction: row;
  width: 0 auto;
  flex-wrap: wrap;
}
.img-parent{
  padding-right: 0px;
  margin-top: 20px;
  object-fit: cover;
 
  
}
.container-main{
  display: flex;  
 flex-wrap: wrap;
  flex-direction: column;
  width: 290px;
  
}

.more-details{
  padding: 10px;
  font-size: 15px;
  color: white;
  background: green;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.item-head{
  background-color: green;
  height: 50px;
  text-align: center;
  margin-top: -15px;
  color:white;
}
.card{
  padding: 0px 20px;
}
.category-head{
  margin-top: 10px;
}
.card-img-top{
  height: 70px;
  width: 130px;
}